# Logistic regression  for Census dataset

In [1]:
import pandas as pd
import numpy as np

In [31]:
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer

In [3]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.model_selection import cross_val_score

import pandas_profiling

In [138]:
cols = ['age', 'workclass', 'fnlwgt', 'education', 'education_num', 'marital_status', 'occupation',
          'relationship', 'race', 'sex', 'capital_gain', 'capital_loss', 'hours_per_week', 'native_country', 'y']

In [139]:
df_train = pd.read_csv('adult.data', names=cols, header=None)
df_test = pd.read_csv('adult.test', names=cols, header=None).iloc[1:]

In [140]:
df_train.head(5)

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,y
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [141]:
df_test.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,y
1,25,Private,226802.0,11th,7.0,Never-married,Machine-op-inspct,Own-child,Black,Male,0.0,0.0,40.0,United-States,<=50K.
2,38,Private,89814.0,HS-grad,9.0,Married-civ-spouse,Farming-fishing,Husband,White,Male,0.0,0.0,50.0,United-States,<=50K.
3,28,Local-gov,336951.0,Assoc-acdm,12.0,Married-civ-spouse,Protective-serv,Husband,White,Male,0.0,0.0,40.0,United-States,>50K.
4,44,Private,160323.0,Some-college,10.0,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688.0,0.0,40.0,United-States,>50K.
5,18,?,103497.0,Some-college,10.0,Never-married,?,Own-child,White,Female,0.0,0.0,30.0,United-States,<=50K.

# Strategy 1 -- Do not deal with missing values

In [142]:
num_cols = ["age", "fnlwgt", "education_num", "capital_gain", "capital_loss", "hours_per_week"]
cat_cols = [col for col in df_train.columns if col not in num_cols and col != "y"]
cat_cols

['workclass',
 'education',
 'marital_status',
 'occupation',
 'relationship',
 'race',
 'sex',
 'native_country']

In [143]:
df_test.shape

(16281, 15)

In [144]:
df_train.shape

(32561, 15)

In [116]:
df_train.dropna(subset=cat_cols, axis=0)
df_test.dropna(subset=cat_cols, axis=0)

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,y
1,25,Private,226802.0,11th,7.0,Never-married,Machine-op-inspct,Own-child,Black,Male,0.0,0.0,40.0,United-States,<=50K.
2,38,Private,89814.0,HS-grad,9.0,Married-civ-spouse,Farming-fishing,Husband,White,Male,0.0,0.0,50.0,United-States,<=50K.
3,28,Local-gov,336951.0,Assoc-acdm,12.0,Married-civ-spouse,Protective-serv,Husband,White,Male,0.0,0.0,40.0,United-States,>50K.
4,44,Private,160323.0,Some-college,10.0,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688.0,0.0,40.0,United-States,>50K.
5,18,?,103497.0,Some-college,10.0,Never-married,?,Own-child,White,Female,0.0,0.0,30.0,United-States,<=50K.
6,34,Private,198693.0,10th,6.0,Never-married,Other-service,Not-in-family,White,Male,0.0,0.0,30.0,United-States,<=50K.
7,29,?,227026.0,HS-grad,9.0,Never-married,?,Unmarried,Black,Male,0.0,0.0,40.0,United-States,<=50K.
8,63,Self-emp-not-inc,104626.0,Prof-school,15.0,Married-civ-spouse,Prof-specialty,Husband,White,Male,3103.0,0.0,32.0,United-States,>50K.
9,24,Private,369667.0,Some-college,10.0,Never-married,Other-service,Unmarried,White,Female,0.0,0.0,40.0,United-States,<=50K.
10,55,Private,104996.0,7th-8th,4.0,Married-civ-spouse,Craft-repair,Husband,White,Male,0.0,0.0,10.0,United-States,<=50K.
11,65,Private,184454.0,HS-grad,9.0,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,6418.0,0.0,40.0,United-States,>50K.
12,36,Federal-gov,212465.0,Bachelors,13.0,Married-civ-spouse,Adm-clerical,Husband,White,Male,0.0,0.0,40.0,United-States,<=50K.
13,26,Private,82091.0,HS-grad,9.0,Never-married,Adm-clerical,Not-in-family,White,Female,0.0,0.0,39.0,United-States,<=50K.
14,58,?,299831.0,HS-grad,9.0,Married-civ-spouse,?,Husband,White,Male,0.0,0.0,35.0,United-States,<=50K.
15,48,Private,279724.0,HS-grad,9.0,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,3103.0,0.0,48.0,United-States,>50K.
16,43,Private,346189.0,Masters,14.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,50.0,United-States,>50K.
17,20,State-gov,444554.0,Some-college,10.0,Never-married,Other-service,Own-child,White,Male,0.0,0.0,25.0,United-States,<=50K.
18,43,Private,128354.0,HS-grad,9.0,Married-civ-spouse,Adm-clerical,Wife,White,Female,0.0,0.0,30.0,United-States,<=50K.
19,37,Private,60548.0,HS-grad,9.0,Widowed,Machine-op-inspct,Unmarried,White,Female,0.0,0.0,20.0,United-States,<=50K.
20,40,Private,85019.0,Doctorate,16.0,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0.0,0.0,45.0,?,>50K.
21,34,Private,107914.0,Bachelors,13.0,Married-civ-spouse,Tech-support,Husband,White,Male,0.0,0.0,47.0,United-States,>50K.
22,34,Private,238588.0,Some-college,10.0,Never-married,Other-service,Own-child,Black,Female,0.0,0.0,35.0,United-States,<=50K.
23,72,?,132015.0,7th-8th,4.0,Divorced,?,Not-in-family,White,Female,0.0,0.0,6.0,United-States,<=50K.
24,25,Private,220931.0,Bachelors,13.0,Never-married,Prof-specialty,Not-in-family,White,Male,0.0,0.0,43.0,Peru,<=50K.
25,25,Private,205947.0,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Husband,White,Male,0.0,0.0,40.0,United-States,<=50K.
26,45,Self-emp-not-inc,432824.0,HS-grad,9.0,Married-civ-spouse,Craft-repair,Husband,White,Male,7298.0,0.0,90.0,United-States,>50K.
27,22,Private,236427.0,HS-grad,9.0,Never-married,Adm-clerical,Own-child,White,Male,0.0,0.0,20.0,United-States,<=50K.
28,23,Private,134446.0,HS-grad,9.0,Separated,Machine-op-inspct,Unmarried,Black,Male,0.0,0.0,54.0,United-States,<=50K.
29,54,Private,99516.0,HS-grad,9.0,Married-civ-spouse,Craft-repair,Husband,White,Male,0.0,0.0,35.0,United-States,<=50K.
30,32,Self-emp-not-inc,109282.0,Some-college,10.0,Never-married,Prof-specialty,Not-in-family,White,Male,0.0,0.0,60.0,United-States,<=50K.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16252,81,?,26711.0,Assoc-voc,11.0,Married-civ-spouse,?,Husband,White,Male,2936.0,0.0,20.0,United-States,<=50K.
16253,60,Private,117909.0,Assoc-voc,11.0,Married-civ-spouse,Prof-specialty,Husband,White,Male,7688.0,0.0,40.0,United-States,>50K.
16254,39,Private,229647.0,Bachelors,13.0,Never-married,Tech-support,Not-in-family,White,Female,0.0,1669.0,40.0,United-States,<=50K.
16255,38,Private,149347.0,Masters,14.0,Married-civ-spouse,Prof-specialty,Husband,White,Male,0.0,0.0,50.0,United-States,>50K.
16256,43,Local-gov,23157.0,Masters,14.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,1902.0,50.0,United-States,>50K.
16257,23,Private,93977.0,HS-grad,9.0,Never-married,Machine-op-inspct,Own-child,White,Male,0.0,0.0,40.0,United-States,<=50K.
16258,73,Self-emp-inc,159691.0,Some-college,10.0,Divorced,Exec-managerial,Not-in-family,White,Female,0.0,0.0,40.0,United-States,<=50K.
16259,35,Private,176967.0,Some-college,10.0,Married-civ-spouse,Protective-serv,Husband,White,Male,0.0,0.0,40.0,United-States,<=50K.
16260,66,Private,344436.0,HS-grad,9.0,Widowed,Sales,Other-relative,White,Female,0.0,0.0,8.0,United-States,<=50K.
16261,27,Private,430340.0,Some-college,10.0,Never-married,Sales,Not-in-family,White,Female,0.0,0.0,45.0,United-States,<=50K.
16262,40,Private,202168.0,Prof-school,15.0,Married-civ-spouse,Prof-specialty,Husband,White,Male,15024.0,0.0,55.0,United-States,>50K.
16263,51,Private,82720.0,HS-grad,9.0,Married-civ-spouse,Craft-repair,Husband,White,Male,0.0,0.0,40.0,United-States,<=50K.
16264,22,Private,269623.0,Some-college,10.0,Never-married,Craft-repair,Own-child,White,Male,0.0,0.0,40.0,United-States,<=50K.
16265,64,Self-emp-not-inc,136405.0,HS-grad,9.0,Widowed,Farming-fishing,Not-in-family,White,Male,0.0,0.0,32.0,United-States,<=50K.
16266,50,Local-gov,139347.0,Masters,14.0,Married-civ-spouse,Prof-specialty,Wife,White,Female,0.0,0.0,40.0,?,>50K.
16267,55,Private,224655.0,HS-grad,9.0,Separated,Priv-house-serv,Not-in-family,White,Female,0.0,0.0,32.0,United-States,<=50K.
16268,38,Private,247547.0,Assoc-voc,11.0,Never-married,Adm-clerical,Unmarried,Black,Female,0.0,0.0,40.0,United-States,<=50K.
16269,58,Private,292710.0,Assoc-acdm,12.0,Divorced,Prof-specialty,Not-in-family,White,Male,0.0,0.0,36.0,United-States,<=50K.
16270,32,Private,173449.0,HS-grad,9.0,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,0.0,0.0,40.0,United-States,<=50K.
16271,48,Private,285570.0,HS-grad,9.0,Married-civ-spouse,Adm-clerical,Husband,White,Male,0.0,0.0,40.0,United-States,<=50K.
16272,61,Private,89686.0,HS-grad,9.0,Married-civ-spouse,Sales,Husband,White,Male,0.0,0.0,48.0,United-States,<=50K.
16273,31,Private,440129.0,HS-grad,9.0,Married-civ-spouse,Craft-repair,Husband,White,Male,0.0,0.0,40.0,United-States,<=50K.
16274,25,Private,350977.0,HS-grad,9.0,Never-married,Other-service,Own-child,White,Female,0.0,0.0,40.0,United-States,<=50K.
16275,48,Local-gov,349230.0,Masters,14.0,Divorced,Other-service,Not-in-family,White,Male,0.0,0.0,40.0,United-States,<=50K.
16276,33,Private,245211.0,Bachelors,13.0,Never-married,Prof-specialty,Own-child,White,Male,0.0,0.0,40.0,United-States,<=50K.
16277,39,Private,215419.0,Bachelors,13.0,Divorced,Prof-specialty,Not-in-family,White,Female,0.0,0.0,36.0,United-States,<=50K.
16278,64,?,321403.0,HS-grad,9.0,Widowed,?,Other-relative,Black,Male,0.0,0.0,40.0,United-States,<=50K.
16279,38,Private,374983.0,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Husband,White,Male,0.0,0.0,50.0,United-States,<=50K.
16280,44,Private,83891.0,Bachelors,13.0,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455.0,0.0,40.0,United-States,<=50K.
16281,35,Self-emp-inc,182148.0,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,60.0,United-States,>50K.

In [117]:
# drop rows from categorical columns with "?"
for item in cat_cols:
    df_train = df_train[~df_train[item].isin([" ?"])]
    df_test = df_test[~df_test[item].isin([' ?'])]

In [118]:
# transforming categorical values to numeric
df_train = pd.get_dummies(df_train, columns = cat_cols)
df_test = pd.get_dummies(df_test, columns = cat_cols)

## Modelling

In [119]:
Y = df_train['y']
df_train.drop('y', axis=1, inplace=True)

x_train, x_test, y_train, y_test = train_test_split(df_train, Y)
model = LogisticRegression()
model.fit(x_train, y_train)

C:\Users\schwajka\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

### Train classification accuracy

In [120]:
train_acc_1 = model.score(x_train, y_train)
print("Train accuracy: ", train_acc_1)

Train accuracy:  0.7896202643561293

### Test classification accuracy

In [121]:
test_acc_1 = metrics.accuracy_score(y_test, model.predict(x_test))
print("Test accuracy: ", test_acc_1)

Test accuracy:  0.7951200106086725

### In conclusion, this strategy is indeed worh noting, though I believe there are some more effective ones :)

# Strategy 2 -- Global most common substitution

In [147]:
# reloading the data to try out the 2nd strategy
df_train2 = pd.read_csv('adult.data', names=cols, header=None)
df_test2 = pd.read_csv('adult.test', names=cols, header=None).iloc[1:]

In [148]:
# numeric imputation
numeric_imputer = SimpleImputer(missing_values = 0, strategy = 'median')
df_train2[['capital_loss', 'capital_gain']] = numeric_imputer.fit_transform(df_train2[['capital_loss', 'capital_gain']])
df_test2[['capital_loss', 'capital_gain']] = numeric_imputer.fit_transform(df_test2[['capital_loss', 'capital_gain']])

In [149]:
# categorical imputation
categoric_imputer = SimpleImputer(missing_values= ' ?', strategy='most_frequent')
df_train2[['workclass', 'occupation', 'native_country']] = categoric_imputer.fit_transform(df_train2[['workclass', 'occupation', 'native_country']])
df_test2[['workclass', 'occupation', 'native_country']] = categoric_imputer.fit_transform(df_test2[['workclass', 'occupation', 'native_country']])

In [ ]:
# cat_cols.append("y")
# cat_cols

In [150]:
df_train2 = pd.get_dummies(df_train2, columns = cat_cols)
df_test2 = pd.get_dummies(df_test2, columns = cat_cols)

In [151]:
Y = df_train2['y']
df_train2.drop('y', axis=1, inplace=True)

x_train, x_test, y_train, y_test = train_test_split(df_train2, Y)
model = LogisticRegression()
model.fit(x_train, y_train)
model.fit(x_test, y_test)

C:\Users\schwajka\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\schwajka\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

### Train classification accuracy

In [152]:
train_acc_2 = model.score(x_train, y_train)
print("Train accuracy: ", train_acc_2)

Train accuracy:  0.7746519246519247

### Test classification accuracy

In [153]:
test_acc_2 = metrics.accuracy_score(y_test, model.predict(x_test))
print("Test accuracy: ", test_acc_2)

Test accuracy:  0.7831961675469844

### Looks like this strategy works is a little less effective than the previous one