# Data cleaning (Census-Income Data Set)

In [146]:
import pandas as pd
import numpy as np

In [147]:
from sklearn.preprocessing import StandardScaler

### Read the data and add attribute headers

In [148]:
df = pd.read_csv("data_task_2/adult.data", names=['age', 'workclass', 'fnlwgt', 'education', 'education-num', 
                                               'marital-status', 'occupation', 'relationship', 'race', 'sex', 
                                               'capital-gain', 'capital-loss', 'hours-per-week', 
                                               'native-country', 'income'])

df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

### Replace all " ?" with NaN and then drop rows where NaN appears. Doing this will make our dataset cleaner, and, therefore, the predictions -- more precise

In [150]:
old_df_len = len(df)
df = df.replace(' ?', np.nan).dropna()
print("Number of instances removed:", old_df_len - len(df))

Number of instances removed: 2399

### Dealing missing values in columns capital-gain and capital-loss. I chose to find the mean values of both columns, and replace the empty cells with the mean for each respective column.

In [151]:
df["capital-gain"].mean()

1092.0078575691268

In [152]:
df["capital-loss"].mean()

88.37248856176646

In [153]:
cap_gain_mean = df["capital-gain"].mean()
cap_loss_mean = df["capital-loss"].mean()

df.loc[df['capital-gain'] == 0, 'capital-gain'] = cap_gain_mean
df.loc[df['capital-loss'] == 0, 'capital-loss'] = cap_loss_mean

### Indentifiyng outliers

In [154]:
def identify_outliers(std, mean):
    # identify outliers
    cut_off = data_std * 3
    lower, upper = data_mean - cut_off, data_mean + cut_off
    # identify outliers
    outliers = [x for x in df["capital-gain"] if x < lower or x > upper]
    print('Identified outliers: %d' % len(outliers))
    # remove outliers
    outliers_removed = [x for x in df["capital-gain"] if x >= lower and x <= upper]
    print('Non-outlier observations: %d' % len(outliers_removed))

Capital gain:

In [155]:
identify_outliers(df["capital-gain"].std(), df["capital-gain"].mean())

Identified outliers: 198
Non-outlier observations: 29964

Capital loss:

In [156]:
identify_outliers(df["capital-loss"].std(), df["capital-loss"].mean())

Identified outliers: 198
Non-outlier observations: 29964

One of the ways that we can deal with outliers is to simple delete the rows containing outliers.